/** Styling Keyframes
 *
 * © Anime no Sekai — 2021
 */


@keyframes loading-rotate {
    to {
        transform: rotate(1turn);
    }
}

@keyframes loading-stroke {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    to {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}


@keyframes pulse {
    0% {
        opacity:0.5
    }

    70% {
        opacity: 0;
        transform:scale(2.5)
    }

    100% {
        opacity:0
    }
}