/** Main Styling
 *
 * © Anime no Sekai — 2021
 */


*,
:after,
:before {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
}


html {
    background: rgb(0, 0, 0);
    overflow: hidden;
}

body {
    background: rgb(36, 36, 36);
    font-family: 'SF Pro Display', 'Inter', 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    height: 100vh;
    width: 100vw;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



body,
html {
  background: #0e0f11;
}

*::-webkit-media-controls-panel,  
*::-webkit-media-controls-play-button,
*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}

.page-load {
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 10000000;
    position: absolute;
    opacity: 1;
    transition: all 500ms ease;
}

.page-load-hidden {
    opacity: 0;
}

.whole-page-load {
    position: absolute;
    width: 5vw;
    min-width: 50px;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: all 400ms ease;
}

.svg-icon:hover {
    opacity: .5;
}

.svg-icon:hover hr{
    transform: scale(2);
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #fff;
}


.svg-icon circle {
    stroke: #fff;
    stroke-width: 1;
}


.info-box {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: fixed;
    z-index: 100000000; /* stays on top of page load */
    bottom: 0;
    margin-bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 500ms ease;
}

.visibleInfo {
    visibility: visible;
    opacity: 1;
}


.tvplayer {
    position: relative;
    width: 100%;
    height: 100%;
}

.information {
    display: flex;
    flex-direction: row;
    z-index: 10;
    position: absolute;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    /*background: rgba(0, 0, 0, 0.4);*/
    border-radius: 2px;
    top: 0;
    transform: translateY(0px);
    opacity: 1;
    transition: all 500ms ease;
}


.player-title {
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
    text-align: center;
    padding: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    z-index: 1000;
    font-weight: 100;
}

.channel-name {
    font-size: 2.5em;
    font-weight: 500;
}
/*


.header {
    display: flex;
    flex-direction: row;
    right: 0;
    margin-right: 10px;
    position: absolute;
}

.header-link {
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
    font-weight: 200;
    background: rgba(0, 0, 0, 0.6);
    height: 16px;
    border-radius: 5px;
}
*/

.header-svg {
    fill: #fff;
    stroke: #fff;
    color: white;
    stroke-width: 0;
    padding: 2px;
    transform: translateY(8px);
}

.header-container {
    position: absolute;
    margin: 0 auto;
    right: 0;
    margin-top: 20px;
    margin-right: 50px;
    z-index: 100000;
}

.header li {
    display: inline;
    text-align: center;
}

.header {
    margin-left: 165px;
    opacity: 1;
    transition: all 500ms ease;
}

.hidden-header {
    margin-top: -80px;
    opacity: 0;
}

.link-container {
    margin: 10px;
}


.header-link {
    display: inline;
    width: 25%;
    padding: .75rem 0;
    margin: 10px;
    text-decoration: none;
    color: white;
}


.current-page {
    display: block;
    height: 2px;
    width: 15%;
    margin: 10px 7%;
    background: #03fc52;
    border: none;
    transition: .3s ease;
}

.current-page-home {
    margin-left: 7%;
}

.current-page-watch {
    margin-left: 40%;
}

.current-page-guide {
    margin-left: 70%;
}

.header-home:hover .current-page {
    margin-left: 25%;
}

.header-watch:hover .current-page {
    margin-left: 50%;
}

.header-guide:hover .current-page {
    margin-left: 75%;
}

.video-player {
    position: absolute;
    height: 100%;
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: row;
    z-index: 10;
    position: absolute;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    /*background: rgba(0, 0, 0, 0.4);*/
    border-radius: 2px;
    bottom: 0;
    opacity: 1;
    transform: translateY(0px);
    transition: all 500ms ease;
}

.controls:hover {
    opacity: 1;
}

.hidden-controls {
    transform: translateY(30px);
    opacity: 0;
}

.hidden-information {
    transform: translateY(-30px);
    opacity: 0;
}

.hidden-cursor {
    cursor: none;
}

.icons {
    display: inline-flex;
    float: right;
    padding: 15px;
}

.watching-counter {
    color: #fff;
    padding: 7px;
}

.watching-tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1em;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -60px;
    opacity: 0;
    transition: all 800ms ease;
    width: 150px;
}

.watching:hover .watching-tooltip {
    visibility: visible;
    opacity: 1;
}

.background-player {
    pointer-events: none;

}

.hiddenButton {
    display: none;
}

.unload {
    display: none;
}




.channel-arrow {
    position: absolute;
    z-index: 100;
    top: 50%;
    margin: 0px 50px;
    transform: scale(2) translateY(-50%);
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .7));
    opacity: 1;
    transition: all 500ms ease;
}

.channel-next {
    right: 0;
}

.channel-previous {
    left: 0;
}

.hidden-channel-arrows {
    opacity: 0;
}

svg:not(:root) {
    overflow: hidden;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

.loading {
    position: relative;
    width: 100%;
}
.loading:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.loading-svg {
    animation: loading-rotate 2s linear infinite;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center center;
    width: 100%;
}
.loading-circle {
    animation: loading-stroke 1.5s ease-in-out infinite;
    stroke: #fff;
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
    stroke-linecap: round;
}
.loading-container {
    bottom: 80px;
    position: absolute;
    right: 20px;
    width: 24px;
    z-index: 5;
}


.home-container {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    left: 0;
    top: 0;
    position: fixed;
    transform: scale(1);
    opacity: 1;
    transition: all 500ms ease;
    background-color: rgba(0, 0, 0, 0.95);
}

.home-hidden {
    transform: scale(1.25);
    opacity: 0;
    pointer-events: none;
}

.home {
    width: 100%;
    z-index: 100;
}


.home-tile-container {
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10vh;
  overflow: visible;
}

.home-tile-row {
  overflow-x: scroll;
  overflow-y: visible;
  width: 100%;
}

.home-tile-row-inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
  overflow-y: visible;
}

.home-tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140px;
  margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}

.home-tile-img {
  width: 250px;
  height: 140px;
  -o-object-fit: cover;
  object-fit: cover;
}

.home-tile-logo {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 15px 0 black;
    border-radius: 2px;
    margin: 10px;
    padding: 1px;
    -o-object-fit: contain;
    object-fit: contain;
}

.home-tile-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}

.home-tile-details:after,
.home-tile-details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
}

.home-tile-details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.home-tile-details:before {
    content: '▶';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 3px;
    margin-top: -17px;
    text-align: center;
    z-index: 2;
}

.home-tile:hover .home-tile-details {
  opacity: 1;
}

.home-tile-title {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    overflow-x: hidden;
}

.home-tile-row-inner:hover {
  transform: translate3d(-25px, 0, 0);
}

.home-tile-row-inner:hover .home-tile {
  opacity: 0.3;
}

.home-tile-row-inner:hover .home-tile:hover {
  transform: scale(1.2);
  opacity: 1;
}

.home-tile:hover ~ .home-tile {
  transform: translate3d(50px, 0, 0);
}







.home-program-details {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 20vh;
    left: 200px;
}

.home-program {
    color: white;
    display: none;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    transform: translateX(50px);
    transition: all 500ms ease;
}


.home-program-load {
    display: flex;
}

.home-program-visible {
    opacity: 1;
    transform: translateX(0px);
}


.home-program-title {
    width: auto;
    max-width: 80vw;
}

.home-program-title-size-large {
    font-size: 3.2em;
}

.home-program-title-size-normal {
    font-size: 3em;
}

.home-program-title-size-medium {
    font-size: 2.5em;
}

.home-program-title-size-small {
    font-size: 2em;
}

.home-program-description {
    color: grey;
    margin-bottom: 15px;
    font-size: 1.2em;
    width: 50vw;
    max-width: 720px;
}

.home-program-channel {
    font-size: 1.5em;
}

tiles-expand {
    display: block;
    position: relative;
    height: 50px;
    width: 165%;
}


.more {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 500ms ease;
    z-index: 10000;
    overflow-x: hidden;
}

.hidden-more {
    margin-left: 100vw;
}

more-inner {
    display: block;
    margin-top: 60px;
}

more-title {
    color: white;
    font-size: 2em;
    display: grid;
    grid-auto-flow: column;
    position: relative;
    margin-left: 50px;
    top: -10px;
    margin-bottom: 15px;
}


.account {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 250px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    width: 90%;
    left: 50%;
    margin-bottom: 100px;
    border-radius: 25px;
    transform: translateX(-50%);
}

.account-container {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    position: relative;
    flex-direction: row;
}

.account-info {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 80%;
    margin-left: 30px;
}

.username-input-container {
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    background: rgba(15, 15, 15, 0.95);
}


.username-input-container::before {
    content: attr(before-content);
    width: 25%;
}

.account-name {
    background: none;
    color: white;
    margin-left: 5px;
    font-size: medium;
    width: 100%;
    outline: none;
    border: none;
}

.account-invite {
    margin-left: 15px;
    margin-top: 5px;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    background: rgba(15, 15, 15, 0.95);
}

.account-invite::before {
    content: attr(before-content);
}

.account-password {
    margin: 10px;
    font-size: 1.2em;
}


.change-password-request {
    margin-left: 15px;
    margin-top: 5px;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    width: 100%;
    color: white;
    border: none;
    opacity: 1;
    background: rgba(15, 15, 15, 0.95);
    transition: transform 250ms ease, opacity 150ms ease;
    cursor: pointer;
}

.change-password-request:active {
    transform: scale(.95);
}

.hidden-password-request {
    opacity: 0;
}

.unload-password-input {
    display: none;
}

.password-input-container {
    display: flex;
    flex-direction: row;
    width: 132%;
    margin-left: -10px;
}

.username-input-container {
    display: flex;
    flex-direction: row;
    width: 132%;
    margin-left: -10px;
}

.submit-button {
    display: none;
    border-radius: 3px;
    border: solid rgb(50, 50, 50) 0.1px;
    background: rgb(5, 5, 5);
    color: white;
    padding: 5px 20px;
    transition: all 250ms ease;
    cursor: pointer;
    transform: translateY(5px);
    width: 100px;
    margin: 8px;
    margin-top: 2px;
    opacity: 0;
    font-size: small;
    pointer-events: none;
}

.submit-button:active {
    transform: scale(.95) translateY(5px);
}

.submit-button-load {
    display: block;
}

.submit-button-pointerevent {
    pointer-events: all;
}

.submit-button:hover {
    border: solid rgb(80, 80, 80) 0.1px;
}

.show-submit-button {
    opacity: 1;
}

.password-input {
    margin-top: 5px;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    width: 100%;
    color: white;
    border: none;
    opacity: 0;
    margin-left: 100%;
    transition: all 350ms cubic-bezier(0.1, 0.27, 0, 0.99);
    background: rgba(15, 15, 15, 0.95);
}

.password-input-shown {
    opacity: 1;
    margin-left: 15px;
    transition: all 350ms cubic-bezier(0.59, 0.01, 0.25, 0.99)
}

.password-input-hidden {
    margin-left: -55px;
    opacity: 0;
}


.account-picture {
    position: relative;
    height: 150px;
    width: 150px;
    top: 50%;
    margin-left: 15px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 1;
    transition: all 500ms ease;
}


.account-picture:hover > #accountPicture {
    opacity: .8;
}

#accountPicture {
    object-fit: contain;
}

.account-picture:hover > .pictureEditText {
    opacity: 1;
}

.pictureEditText {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 40%;
    top: 45%;
    font-size: large;
    transition: all 500ms ease;
}

#accountPicture {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    transition: all 500ms ease;
}

.tv-guide {
    display: grid;
    overflow: auto;
    position: relative;
    grid-auto-flow: column;
    margin-bottom: 50px;
    border-radius: 3px;
}



/* CURRENT TIME */

.epg-current-time {
    left: 0;
    opacity: 1;
    z-index: 90;
    position: absolute;
    top: 5px;
    width: auto;
}

.epg-date-bar {
    height: 30px;
    display: block;
}

.epg-date-bar::before {
    border-top: 1px solid #f0163a;
    content: "";
    left: 0;
    position: absolute;
    top: 50%;
    width: 0px;
    display: block;
    height: 1px;
}

.epg-time-wrapper {
    background: #f0163a;
    border-radius: 5px;
    color: #e6e6e6;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    display: block;
    height: 130%;
    width: 15px;
}

.epg-time-wrapper::before {
    background: #f0163a;
    border-radius: 4px;
    content: "";
    height: 14px;
    left: .5px;
    position: absolute;
    top: -3px;
    width: 14px;
    transform: scale(.9) rotate(315deg);
}

.epg-time-span {
    position: absolute;
    background: none;
    transform-origin: 0 0;
    transform: rotate(90deg);
    margin-left: 8px;
    margin-top: 5px;
}


/* CHANNELS: Y-AXIS */
.epg-channels {
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    width: 200px;
    position: relative;
    z-index: 2;
    margin-top: 40px;
}

.epg-channel {
    display: block;
    width: 200px;
    height: 120px;
    object-fit: cover;
    transition: all 400ms ease;
    border-top: .5px rgb(230, 230, 230) solid;
    border-bottom: .5px rgb(230, 230, 230) solid;
    cursor: pointer;
}

.epg-channel-img {
    display: block;
    width: 140px;
    height: 100px;
    object-fit: contain;
    margin: auto;
    transition: all 400ms ease;
    filter: brightness(0) invert(.9);
    margin-top: 10px;
}

.epg-channel:hover {
    background-color: black;
}

/* TIMES: X-AXIS */
.epg-times {
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 40, 40);
}

.epg-time {
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #ddd;
    border-left: white 1px solid;
    border-right: white 1px solid;
}

.epg-time-inner {
    text-align: center;
    margin-left: 179px;
    margin-right: 179px;
}

/* CONTENT */
.epg-content {
    display: block;
    overflow: scroll;
    overflow-y: hidden;
}

.epg-rows {
    display: flex;
    flex-direction: column;
    width: 9600px;
    overflow: hidden;
}

.epg-row {
    background-color: #eee;
    border: 1px solid #ddd;
    position: relative;
    height: 120px;
    display: grid;
    grid-auto-flow: column;
}

.epg-program {
    display: block;
    height: 120px;
    /*width: calc(attr(duration px) * 400px  / 60px);*/
    background-color: #eee;
    position: relative;
    border-right: white 1px solid;
    border-left: white 1px solid;
    border-bottom: rgb(100, 100, 100) 1px solid;
    transition: all 300ms ease;
    cursor: pointer;
}

.epg-program:hover {
    background-color: rgb(190, 190, 190);
}

.epg-program-title-wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.epg-program-duration {
    margin: 10px;
    color: rgb(190, 190, 190);
}

.epg-program-title {
    margin: 7px;
    overflow: hidden;
    font-weight: 600;
    font-size: 1em;
}

.epg-program-description {
    font-size: .8em;
    overflow: hidden;
    display: block;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
}

epg-button {
    font-size: .5em;
    cursor: pointer;
    opacity: 1;
    transition: all 400ms ease;
}

.hidden-epg-button {
    opacity: 0;
    pointer-events: none;
}

epg-button:hover {
    opacity: .7;
}

.epg-program-information-container {
    color: white;
    display: flex;
    flex-direction: column;
    width: 250px;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 25px;
    z-index: 95;
    right: -250px;
    top: 50%;
    max-height: 80vh;
    overflow-y: scroll;
    transform: translateY(-50%);
    transition: all 500ms ease;
}

.epg-program-information-container-shown {
    right: 30px;
}

.epg-program-information-close {
    position: fixed;
    right: 25px;
    opacity: 1;
    cursor: pointer;
    transition: all 250ms ease;
}

.epg-program-information-close:hover {
    opacity: .8;
}

.epg-program-information-close::after, .epg-program-information-close::before {
    content: "";
    height: 20px;
    width: 20px;
    border-top: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: 7px;
    right: -8px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.epg-program-information-close::before {
    right: 6px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.epg-program-information-channel {
    margin: 5px;
    font-size: large;
}

.epg-program-information-timestamp {
    margin-bottom: 10px;
    margin-left: 5px;
    color: grey;
    font-size: small;
}

.epg-program-information-title {
    font-size: x-large;
    margin: 5px;
}

.epg-program-information-description {
    color: rgba(232, 232, 232, 0.92);
    margin: 5px;
}

.epg-program-information-url {
    margin: 5px;
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: all 250ms ease;
}

.epg-program-information-url:hover {
    opacity: .8;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.credits {
    margin: 0px 15px;
    color: white;
}

.server-status {
    color: white;
    margin: 0px 15px;
    margin-top: 0px;
}

.dot {
    margin: 0px 10px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    color: #3bd671;
    background: #3bd671;
    position: relative;
    -ms-transform: none;
    transform:none
}

.dot:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: currentColor;
    animation: pulse 2s infinite;
    opacity: 1;
    border-radius: 50%;
    top: 0;
    left:0
}

.dot.is-error {
    color: #df484a;
    background:#df484a
}

.dot.is-warning {
    color: #f29030;
    background:#f29030
}

.dot.is-grey {
    color: #637189;
    background:#637189
}

.dot.is-grey:after {
    display:none
}